#top{
    height: 100px;
    background: #131D47;
    text-align: center;
}
#logo1{
    width: 125px;
    height: 80px;
    animation-name: hel1;
    animation-duration: 0.5s;
   animation-fill-mode: forwards;
   position: relative;
}
@keyframes hel1 {
    0% {
        top: -250px;
    }
    100% {
        top: 0px;
    }
    
}
#logo2{
    width: 100px;
    height: 60px;
    animation-name: hel;
    animation-duration: 2s;
   animation-fill-mode: forwards;
   position: relative;
   transform: rotateZ(-7deg);
}

@keyframes hel {
    0% {
        right: -150px;
    }

    100% {
        right: 0px;
    }
    
}
#heading{
    color: #F1F1F1;
    font-size: 65px;
    font-family: 'Teko', sans-serif;
}
.middle{
    background: url(./hostel/hostel.jpeg);
    background-repeat: no-repeat;
    height: 750px;
     background-size: cover;
}
@media screen and (max-width: 600px){
    .middle{
        height: 450px;
    }
    #top{
        height: 70px;
    }
    #logo1{
        height: 40px;
        width: 65px;
    }
    #logo2{
        height: 35px;
        width: 50px
    }
    #heading{
        font-size: 50px;
    }
}
#back{
    background-color:#131D47 ;
}
 .contact{
    background: #F1F1F1;
    color: #131D47;
    width: 100%;
    /* border-left: 15px solid #131D47; */
} 

#ctop{
    margin-top: 10px;
    width: 190px;
    height: 35px;
    padding-left: 5px;
}
#conbot{
   padding-left: 5%;
    margin-top: 3%;
    font-family: 'Merriweather', serif;
    margin-bottom: 1%;
    text-decoration: underline;
    font-size: 17px;
}
.images{
    margin-right: 1%;
    width: 25px;
    height: 25px;
    margin-left: 0;
}
.inline-photo {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  
    opacity: 0;
    transform: translateY(4em) ;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
  }
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  header.is-visible {
    opacity: 1;
  }
  .main-photo {
    transform: scale(.8);
  }
  .is-visible .main-photo {
    transform: none;
  }
  .is-visible .heading {
    transform: translate(-50%, -50%);
  }  
.main-photo{
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                filter 10s 2s ease-out;
    will-change: transform;
  }
.head{
    font-family: Trebuchet MS!important;
    font-size: 45px;
}
p{
    font-family: Trebuchet MS!important;
    font-size: 18px;
    line-height: 1.8;
    
}
#name{
    margin-left: 1%; font-family: 'Merriweather', serif; font-size: 20px;
}
#num{
    font-family: 'Oswald', sans-serif;
     font-size: 20px;
}
@media screen and (max-width: 600px){
    p{
        font-size: 10px;
        line-height: 1.6;
    }
    .head{
        font-size: 20px;
    }
    #name{
        font-size: 15px;
    }
    #num{
        font-size: 15px;
    }
    .images{
        height: 20px;
        width: 20px;
    }
    #ctop{
        margin-top: 5px;
        width: 140px;
        height: 25px;
        padding-left: 5px;
    }
}
#about{
    text-align: center;
    background-color: #131D47;
    color:  #F1F1F1;
    box-shadow: 0em 0em 0em 0em rgba(0,0,0,0);
}





