<!-- <%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %> -->
<%- include('partials/homeheader') %>
<!-- Top heading -->
<nav id="top" class="sticky-top" style="width: 100%;">
  <div id="heading" style="width: 100%;"> <img src="hostel/logo1.png" id="logo1">Hostel<img src="hostel/logo2.png" id="logo2"></div>
</nav>
<div id="middle" style="padding-top: 3.9%;">
  <div id="tabs" >
    <ul id="log">
      <li class="tb"><a href="#tabs-1" id="t1"><strong>LogIn</strong></a></li>
      <li class="tb"><a href="#tabs-2" id="t2"><strong>SignUp</strong></a></li>
    </ul>
    <div id="tabs-1">
      <div class="signup-form">
        <form action="/login" method="POST" style="border: 3px outset #969fa4;">
          <h2>Login</h2>
      
          <div class="form-group">
            <input type="email" class="form-control" name="username" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
          </div>
      
      
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
          </div>
        </form>
    </div>
    </div>
    <div id="tabs-2">
      <div class="signup-form">
        <form action="/" method="POST" style="border: 3px outset #969fa4;">
          <h2>Register</h2>
          <p class="hint-text"> Let's make your hostel life more memorable :) </p>
          <div class="form-group">
            <div class="row">
              <div class="col"><input type="text" class="form-control" name="name" placeholder="Your Name"
                  required="required"></div>
              <div class="col"><input type="text" class="form-control" name="room_no" placeholder="Room no Ex- 395"
                  required="required"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="roll_no" placeholder="Roll No. ex - BTECH/1xxxx/19"
              required="required">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="username" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
              required="required">
          </div>
      
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
          </div>
          </form>
  </div>
    </div>
  </div>
</div>
<header class="header show-on-scroll">
  <div class="inline-photo show-on-scroll" id="about" style="border-style: solid; border-width: 5px; border-color: #131D47;">
    <br>
    <div class="head">Why HostelHub?</div>
    <p>
      Your one-step solution to all your hostel problems.Want to stay organised for your hostel life?<br>Then this is the place for you.We have organised everything a hosteler ever needs, so that you can have access to them in one place.<br>Remember Hostelhub-one web-app to solve all those problems.
    </p>
  </div>
</header>
  <div id="back">
  <div class="contact">
    <header class="header show-on-scroll">
      <div class="inline-photo show-on-scroll" id="contop" style="border-style: groove; border-width: 5px; border-color: #131D47;">
          <img src="./hostel/contact.png" id="ctop">©
      </div>
    </header>
      <div id="conbot">Follow/Contact us:</div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
          <img src="./hostel/dots.jpeg" class="images"><span id="name">Lakshya Gupta :</span>
          <a href="https://www.linkedin.com/in/lakshya-gupta-415b691b0/" target="_blank" >
              <img src="hostel/linkedin1.jpg" class="images" id="ll"/>
            </a>
            <a href="https://twitter.com/lakshyag123" target="_blank" >
              <img src="hostel/twitter.png" class="images" id="tl"/>
            </a>
            <a href="https://github.com/lakshyag123" target="_blank" >
              <img src="hostel/github.webp" class="images" id="gl"/>
            </a>
            <a href="https://www.facebook.com/lakshya1stgupta" target="_blank" >
              <img src="hostel/fb.png" class="images" id="fl"/>
            </a>
            <a href="https://www.instagram.com/lakshyag123/?hl=en" target="_blank" >
              <img src="hostel/insta.jpg" class="images" id="il"/>
            </a>
          </div>
          <div class="col-sm">
            <img src="hostel/whatsapp.webp" class="images" >
            <span id="num"><strong>: +91 800-31-32-907</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img src="./hostel/dots.jpeg" class="images"><span id="name">Prakhar Gupta :</span>
            <a href="http://www.linkedin.com/in/prakharg200" target="_blank" >
                <img src="hostel/linkedin1.jpg" class="images" id="l1"/>
              </a>
              <a href="https://twitter.com/Prakhargupta200" target="_blank" >
                <img src="hostel/twitter.png" class="images" id="l2"/>
              </a>
              <a href="https://github.com/prakhargupta200" target="_blank" >
                <img src="hostel/github.webp" class="images" id="l3"/>
              </a>
              <a href="https://www.facebook.com/prakhar.gupta.1000469" target="_blank" >
                <img src="hostel/fb.png" class="images" id="l4"/>
              </a>
              <a href="https://www.instagram.com/prakhargupta200/" target="_blank" >
                <img src="hostel/insta.jpg" class="images" id="l5"/>
              </a>
          </div>
          <div class="col-sm">
            <img src="hostel/whatsapp.webp" class="images" >
            <span id="num"><strong>: +91 992-99-93-723</strong></span>
            </div>

          </div>
        <div class="row">
          <div class="col-sm">
            <img src="./hostel/dots.jpeg" class="images"><span id="name" style="margin-right: 2%;">Saketh Pabba :</span>
          <a href="https://www.linkedin.com/in/saketh-pabba-783a94194" target="_blank" >
              <img src="hostel/linkedin1.jpg" class="images" id="l6"/>
            </a>
            <a href="https://twitter.com/PabbaSaketh?s=09" target="_blank" >
              <img src="hostel/twitter.png" class="images" id="l7"/>
            </a>
            <a href="https://github.com/sakpab2602" target="_blank" >
              <img src="hostel/github.webp" class="images" id="l8"/>
            </a>
            <a href="https://m.facebook.com/saketh.pabba.5" target="_blank" >
              <img src="hostel/fb.png" class="images" id="l9"/>
            </a>
            <a href="https://www.instagram.com/sak_pab_2602/" target="_blank" >
              <img src="hostel/insta.jpg" class="images" id="l10"/>
            </a>
          </div>
          <div class="col-sm">
            <img src="hostel/whatsapp.webp" class="images" >
            <span id="num"><strong>: +91 814-02-65-638</strong></span>
          </div>
  </div>
  <br>
  </div>
 <script type='text/javascript' src='./home.js'></script>

<%- include('partials/footer') %>
