<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">Registration successful</h1>
        <p class="secret-text">Proceed to log in</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>