<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Our website</h1>
    <p class="secret-text">welcome to hostel hub</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Random button</a>
  </div>
</div>

<%- include('partials/footer') %>